@import url(http://fonts.googleapis.com/css?family=Dosis);

@import url(http://fonts.googleapis.com/css?family=Contrail+One|Krona+One|Didact+Gothic);

/*  font-family: 'Krona One', sans-serif;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Contrail One', cursive;
    */

.navPanel {
    height: 100%;
    left: 0;
    position: fixed;
    width: 15%;
}

    .navPanel .navPnl {
        background-color: #ffff99;
        border-style: inset;
        min-height: 100%;
        padding: 5px;
        width: 100%;
        margin: auto;
    }

        .navPanel .navPnl .navLink {
            color: black;
            display: block;
            font-family: 'Contrail One', cursive;
            font-size: 1.4em;
            margin: 0 auto;
            text-align: center;
            width: 125px !important;
        }

            .navPanel .navPnl .navLink:hover {
                color: blue;
            }

        .navPanel .navPnl .navLinkCurrent {
            color: black;
            display: block;
            font-family: 'Contrail One', cursive;
            font-size: 1.4em;
            margin: 0 auto;
            text-align: center;
            width: 125px !important;
            font-weight: bold;
        }

.body {
    float: right;
    position: relative;
    width: 84%;
}

header {
    background-color: #676767;
    border-style: inset;
    height: 200px;
    width: 100%;
}

.shopCart {
    display: block;
    float: right;
    position: relative;
    width: 36px;
    z-index: 5;
}

.shopCart:hover {
    background-color: #caf8f6;
}

.Shopping-Panel {
    display: block;
    background-color: #FFFF99;
    float: right;
    width: 319px !important;
    padding: 5px;
    position: relative;
    z-index: 5;
}

    .Shopping-Panel .shoppingCartList {
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        color: black;
    }

    .Shopping-Panel .Shopping-Button {
        margin: 5px auto 0;
    }

.productList {
    font-family: 'Dosis', sans-serif;
    font-size: 1.1em;
}
